$main-color:#FFFFFF;
$main-second-color:wheat;
$second-color:transparent;
$important-color:#D73E4D;
$main-end-color:black;
$button-color:greenyellow;
$nav-color:#fff;
$bg-color:#343A40;
$hover-color:rgb(141, 141, 233);